<div>
  <div class="form">
    <div ng-repeat="question in questionnaire.questions" class="form-group">
      <label>{{ question.prompt }}</label>
      
      <div ng-switch="question.kind">
        <div ng-switch-when="Short text">
         <textarea class="form-control" ng-model="answerMap[question.id].answer"></textarea>
        </div>
       <div ng-switch-when="Tick box">
         <label class="radio-inline"><input type="radio" ng-model="answerMap[question.id].answer" ng-value="true" /> Yes </label>
         <label class="radio-inline"><input type="radio" ng-model="answerMap[question.id].answer" ng-value="false" /> No </label>
       </div>
       <div ng-switch-when="Integer">
         <input type="number" ng-model="answerMap[question.id].answer" />
       </div>
     </div>       
      
    </div>
  </div>
</div>