<site-header></site-header>

<div class="container" ng-show="user">

  <h2>My courses</h2>

  <div ng-controller="Assessory.controllers.components.MyCourses">
    <div ng-repeat="course in courses">
      <course-info course="course"></course-info>
    </div>
  
    <hr />

    <h3>Create a course</h2>
    <a class="btn btn-default" href="/course/create">Create a course</a>
  
  </div>


</div>


<div class="container" ng-hide="user">

  <h2>Welcome</h2>

  <p>
    You'll need to log in.
  </p>


</div>



