<site-header></site-header>

<div class="course-create">

  <div class="container">
    <h2>Create a group set</h2>
    <div class="form">
      <div class="form-group">
        <label>Name</label>
        <input ng-model="groupSet.name" type="text" class="form-control" placeholder="eg, project group" />
      </div>
      <div class="form-group">
        <a class="btn btn-default" href="/">Cancel</a>
        <button class="btn btn-primary" ng-click="submit(groupSet)">Create</button>
      </div>
    </div>
  </div>


</div>

