<h3>Pre-create groups</h3>
<p>
    You can pre-create groups, together with a "pre-enrolment" that will
    place students in the group the next time they visit the course page.
</p>

<div >
    <div class="form">
        <div class="form-group">
            <label>CSV data</label>
            <textarea ng-model="preenrol.csv" class="form-control" placeholder="group-name,service,id,name"></textarea>
        </div>

        <div class="form-group">
            <a class="btn btn-default" ui-sref="course.admin.groupSet.view({ courseId: course.id, groupSetId: groupSet.id })">Cancel</a>
            <button class="btn btn-primary" ng-click="submit(preenrol)">Create</button>
        </div>
    </div>
</div>
