
<h2>Create a group set</h2>
<div class="form">
    <div class="form-group">
        <label>Parent</label>
        <select ng-model="groupSet.parent">
            <option value="">None</option>
            <option ng-repeat="gs in groupSets" ng-value="gs.id">{{ gs.name || 'Untitled' }}</option>
        </select>
    </div>

  <div class="form-group">
    <label>Name</label>
    <input ng-model="groupSet.name" type="text" class="form-control" placeholder="eg, project group" required />
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea ng-model="groupSet.description" class="form-control" placeholder="optional" />
  </div>
  <div class="form-group">
    <a class="btn btn-default" ui-sref="course.admin({ courseId: course.id })">Cancel</a>
    <button class="btn btn-primary" ng-click="submit(groupSet)">Create</button>
  </div>
</div>


