
  <h2>{{ groupSet.name || 'Unnamed' }}</h2>
  <p ng-if="groupSet.parent">Parent: {{ groupSet.parent }}</p>
  <p>{{ groupSet.description }}</p>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th><th>Members</th><th>Provenance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="group in groups">
        <td><a ng-href="/group/{{ group.id}}">{{ group.name }}</a></td>
        <td><user-many-info user-ids="group.members"></user-many-info></td>
        <td>{{ group.provenance }}</td>
      </tr>
    </tbody>
  </table>

  <div ng-show="groupSet.permissions.edit">
     <a ui-sref="course.admin.groupSet.upload({ courseId: course.id, groupSetId: groupSet.id })" class="btn btn-default">Upload</a>
  </div>
