<site-header></site-header>

<div class="course-view">

  <div class="container" ng-show="course.permissions.edit">
    <course-info course="course"></course-info>
  
    <div class="row">
  
      <div class="col-sm-6">
        <h3>Pre-enrolments</h3>
        <p>
          Pre-enrolments allow you to list students who should be registerd
          with this course as soon as they next visit the site.
        </p>
        <table class="table">
          <tr ng-repeat="pe in preenrols">
            <td>
              {{ pe.name || 'Untitled '}}
            </td>
            <td>
              <a class="btn btn-sm btn-danger" href="/preenrol/{{ pe.id }}">Edit</a>
            </td>
          </div>
        </table>
        <a href="/course/{{ course.id }}/createPreenrol" class="btn btn-sm btn-default"><i class="icon-plus"></i></a>
      </div>
    
      <div class="col-sm-6">
        <h3>Group sets</h3>
        
        <p>
          As students may be in more than one group -- for instance, they may be in a tutorial group
          as well as a project group -- groups are organised into "group sets".
        </p>
        <table class="table">
          <tr ng-repeat="gs in groupSets">
            <td>
              {{ gs.name || 'Untitled '}}
            </td>
            <td>
              <a class="btn btn-sm btn-danger" href="/groupSet/{{ gs.id }}">Edit</a>
            </td>
          </tr>
        </table>
    
        <div>
          <a href="/course/{{ course.id }}/createGroupSet" class="btn btn-default">Create group set</a>
        </div>
      </div>
  
      <div class="col-sm-6">
        <h3>Tasks</h3>
        <p>
          Tasks are pieces of work that the students must complete.
        </p>
      
        <table class="table">
          <tr ng-repeat="t in tasks">
            <td>
              {{ t.name || 'Untitled '}}
            </td>
            <td>
              <a class="btn btn-sm btn-danger" href="/task/{{ t.id }}">Edit</a>
            </td>
          </tr>
        </table>
    
        <div>
          <a href="/course/{{ course.id }}/createGroupCritTask" class="btn btn-default">Create crit task</a>
        </div>
      </div>

      
    </div>
    
  </div>


</div>