<site-header></site-header>

<div class="course-view">

  <div class="container">
    <course-info course="course"></course-info>

    <div ng-show="course.permissions.edit">
      <a href="/course/{{ course.id }}/admin" class="btn btn-default">Administration</a>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>Tasks</h3>
      
        <div ng-repeat="t in tasks">
          <h4>asd</h4>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>My groups</h3>
      
      </div>
    </div>
    
  </div>


</div>