<site-header></site-header>

<div class="course-view">

  <div class="container">
    <div class="pull-right" ng-show="course.permissions.edit">
      <a href="/course/{{ course.id }}/admin" class="btn btn-default">Administration</a>
    </div>

    <course-info course="course"></course-info>


    <div class="row">
      <div class="col-sm-8">
        <h3>Tasks</h3>
      
        <div ng-repeat="t in tasks">
          <h4>asd</h4>
        </div>
      </div>
      <div class="col-sm-4">
        <h3>My groups</h3>

        <div ng-repeat="g in groups">
          <group-info group="g"></group-info>
        </div>      
      </div>
    </div>
    
  </div>


</div>