<site-header></site-header>

<div class="course-view">

  <div class="container">
    <h2>{{ course.title }} <small>{{ course.shortName }}</small></h2>
    <p>{{ course.shortDescription }}</p>
  
  
    <div ng-show="course.permissions.edit">
      <h3>Pre-enrol</h3>
      
      <div ng-repeat="pe in preenrols">
        <p>
          <a href="/preenrol/{{ pe.id }}">{{ pe.name || 'Untitled '}}</a>
        </p>
      </div>
      <a href="/course/{{ course.id }}/createPreenrol" class="btn btn-default">Create pre-enrol</a>
    </div>
  
    <h3>Group sets</h3>
  
    <div ng-repeat="gs in groupSets">
      <p>
        <a href="/groupSet/{{ gs.id }}">{{ gs.name || 'Untitled '}}</a>
      </p>
    </div>

    <div ng-show="course.permissions.edit">
      <a href="/course/{{ course.id }}/createGroupSet" class="btn btn-default">Create group set</a>
    </div>

    <h3>Tasks</h3>
  
    <div ng-repeat="gs in groupSets">
      <h4>asd</h4>
    </div>

    <div ng-show="course.permissions.edit">
      <a href="/course/{{ course.id }}/createCritTask" class="btn btn-default">Create crit task</a>
    </div>

    
  </div>


</div>