<div>
  <div class="form">
    
    <div ng-repeat="question in questionnaire.questions">
     <div ng-if="showQuestion(question)">
     
      <label>{{ question.prompt }}</label>
      
      <div ng-switch="question.kind">
        <div ng-switch-when="Short text">
         <textarea disabled class="form-control" ng-model="answerMap[question.id].answer" style="min-height: 200px"></textarea>
        </div>
       <div ng-switch-when="Tick box">
         <p class="form-control-static">
         {{ answerMap[question.id].answer || 'No' }}
         </p>       
       </div>
       <div ng-switch-when="Integer">
         <p class="form-control-static">
         {{ answerMap[question.id].answer }}
         </p>
       </div>
     </div>       
      
    </div>
   </div>
  </div>
</div>