<site-header></site-header>

<div class="container">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a ng-href="/course/{{course.id}}">{{ course.title }}</a></li>
    <li class="active">{{ task.details.name }}</li>
  </ol>

  <course-info course="course"></course-info>

  <div ng-show="task.permissions.edit" class="pull-right">
    <a class="btn btn-default" ng-href="/task/{{ task.id }}/admin">Admin</a>
  </div>  
  <task-info task="task"></task-info>
  
  
  <div ng-switch="task.body.kind">
    <div ng-switch-when="Group critique by an individual">
      <group-crit-info task="task"></group-crit-info>
    </div>
    <div ng-switch-when="Task output critique">
      <task-output-critique-allocations task="task"></task-output-critique-allocations>
    </div>
  </div>
</div>