<!-- Questionnaire -->
<script type="text/ng-template" id="directive_questionnaireEdit.html">
  @views.html.partials.question.directive_questionnaireEdit()
</script>

<!-- Task -->
<script type="text/ng-template" id="directive_taskInfo.html">
  @views.html.partials.task.directive_taskInfo()
</script>

<!-- Group Crit -->
<script type="text/ng-template" id="directive_groupCritInfo.html">
  @views.html.partials.groupcrit.directive_groupCritInfo()
</script>
<script type="text/ng-template" id="directive_gcAllocationInfo.html">
  @views.html.partials.groupcrit.directive_gcAllocationInfo()
</script>


<!-- User components -->
<script type="text/ng-template" id="directive_userInfo.html">
  @views.html.partials.user.directive_userInfo()
</script>
<script type="text/ng-template" id="directive_userManyInfo.html">
  @views.html.partials.user.directive_userManyInfo()
</script>

<!-- Groups -->
<script type="text/ng-template" id="directive_groupInfo.html">
  @views.html.partials.group.directive_groupInfo()
</script>

<!-- Site UI components -->

<script type="text/ng-template" id="directive_siteHeader.html">
  @views.html.partials.components.directive_siteHeader()
</script>

<script type="text/ng-template" id="directive_courseInfo.html">
  @views.html.partials.course.directive_courseInfo()
</script>

