@(content: Html)

<!DOCTYPE html>
<html>

	<!-- Pure CSS. Used in a couple of places where Bootstrap was being problematic. -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
    
    <!-- Boostrap 3 -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">    
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">    

    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    
    <title>Assessory</title>
    @content
    
    <!-- JQuery, required for Bootstrap -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    
    <!-- Bootstrap -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
</html>
