<div class="groupcrit-allocation">

  Please read and review the following critiques:
  
  <ul class="nav nav-pills">
    <li ng-repeat="output in relevantOutputs" ng-class="{ active: selectedOutput == output }"><a ng-click="selectOutput(output)">{{ $index }}</a></li>
  </ul>
  
  <div class="row">
  
    <div ng-if="selectedOutput">
    
      <div class="col-sm-6">
        <h3>To review:</h3>
        <questionnaire-view questionnaire="forTask.body.questionnaire" answers="selectedOutput.body.answers" filter="questionFilter"></questionnaire-view>
      </div>
      <div class="col-sm-6">
        <h3>Your review:</h3>
        <div ng-if="getMyResponseFor(selectedOutput).permissions.edit">
          <questionnaire-fill questionnaire="task.body.questionnaire" answers="getMyResponseFor(selectedOutput).body.answers" ></questionnaire-fill>
          <div>
            <button class="btn btn-default" ng-click="save(getMyResponseFor(selectedOutput), false)">Save</button>
            <button class="btn btn-primary"  ng-click="save(getMyResponseFor(selectedOutput), true)">Save &amp; finalise</button>
          </div>
        </div>
        <div ng-if="!getMyResponseFor(selectedOutput).permissions.edit">
          <questionnaire-view questionnaire="task.body.questionnaire" answers="getMyResponseFor(selectedOutput).body.answers" ></questionnaire-view>
        </div>
      </div>
    </div>
  
  </div>
  

</div>